@use "sass:map";
@import "style/pages/theme";
.footer {
  background-color: #252b42;
  margin-top: 330px;
  color: white;
  padding: 50px 100px;
  &_logo {
    margin-bottom: 20px;
  }
  &_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    font-size: 16px;
    a {
      color: white;
    }
  }
  &_container {
    text-align: center;
    li {
      list-style: none;
    }
  }
  &_icon {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
    margin-bottom: 18px;
    a {
      color: white;
      svg {
        font-size: 30px;
      }
    }
  }
}
