@use "sass:map";
@import "style/pages/theme";
.detail {
  margin-top: 130px;
  &_content {
    font-size: 14px;
    margin-bottom: 16px;
  }
  &__container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
  }
  &__card {
    border-radius: 8px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 1.5rem;
    border: 0;
    &_thumbnail {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        max-width: 100%;
      }
    }
    &_header {
      h1 {
        font-size: 24px;
        margin-bottom: 10px;
        text-transform: uppercase;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }
    &_rating {
      display: flex;
      align-items: center;
      font-size: 16px;
      margin-bottom: 20px;
      &_average {
        font-weight: 500;
        margin-left: 12px;
      }
      &_count {
        margin-left: 8px;
        color: #757c8e;
      }
    }
    &_price {
      font-weight: 700;
      font-size: 35px;
      color: #e00;
      margin-top: 50px;
    }
    &_body {
      button {
        margin-top: 70px;
        background-color: #fff;
        border-color: $black;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        padding: 16px 24px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        &:hover {
          background-color: orange;
          color: #fff;
        }
        div {
          svg {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }
        }
        span {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  &__tab {
    &_comment {
      h3 {
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 1rem;
        font-weight: bold;
      }
    }
    &_review {
      border: 1px solid #cdcfd5;
      background-color: #fff;
      position: relative;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      &_summary {
        padding: 40px;
        &_content {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          &_left {
            text-align: center;
            margin-bottom: 0;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
            padding-right: calc(3rem * 0.5);
            padding-left: calc(3rem * 0.5);
          }
          &_average {
            font-weight: 500;
            font-size: 80px;
            line-height: 81px;
            color: $black;
            margin-bottom: 20px;
          }
          &_star {
            display: inline-block;
          }
          &_count {
            color: $black;
            margin-top: 12px;
            font-size: 16px;
          }
          &_right {
            flex: 1 0 0%;
            width: 100%;
            max-width: 100%;
            padding-right: calc(3rem * 0.5);
            padding-left: calc(3rem * 0.5);
          }
          &_rating {
            margin-bottom: 8px;
            align-items: center;
            --tutor-gutter-x: 1.5rem;
            --tutor-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            &_star {
              flex: 0 0 auto;
              width: auto;
              display: flex;
              align-items: center;
              svg {
                color: #ed9700;
                margin: 0 -3px;
                font-size: 20px !important;
                margin: 0 3px;
              }
              span {
                margin-left: 12px;
                font-weight: 500;
                display: inline-block;
                color: $black;
              }
            }
            &_progress {
              flex: 1 0 0%;
              padding-right: calc(3rem * 0.5);
              padding-left: calc(3rem * 0.5);
            }
          }
        }
      }
      &_line {
        height: 1px;
        background-color: #cdcfd5;
        width: 100%;
      }
      &_list {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: 6px;
        &_body {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          border-bottom: 1px solid #cdcfd5;
          position: relative;
          color: $black;
          padding: 40px;
          &_info {
            &_avatar {
              margin-bottom: 12px;
              img {
                width: 48px;
                height: 48px;
                border-radius: 100px;
                overflow: hidden;
              }
            }
            &_name {
              font-size: 1rem;
              margin-bottom: 4px;
            }
          }
          &_comment {
            &_content {
              margin-top: 12px;
              color: $black;
            }
          }
        }
      }
    }
    &_write {
      margin-top: 32px;
      margin-bottom: 32px;
      &_star {
        margin-bottom: 32px;
        span {
          font-size: 30px !important;
        }
      }
      &_comment {
        margin-bottom: 32px;
        textarea {
          line-height: 26px;
          text-indent: 0;
          padding: 15px;
          height: 180px;
          width: 100%;
          display: block;
          border: 1px solid #dcdfe5;
          box-shadow: none;
          background-color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}
